  
.heart {
  position: absolute;
  cursor: pointer;
  right: 25px;
  font-size: 30px;
  color: map-get($colors,dark-gray);

  &__empty {
    position: absolute;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &__full {
    background: linear-gradient( to bottom right, map-get($colors,secondaire), map-get($colors,primaire) );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease;
    transform: scale(0);
    
  }
  &:hover &__full {
    @include transform(scale(1));
  }
  &:hover &__empty {
    opacity: 0;
  }
}

  


  